.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 150px 20px 50px 20px;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    ),
    url("/img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  border-radius: 20px;
}

.title {
  font-size: 40px;
  font-weight: 950;
  margin-bottom: 30px;
  color: #ffffff;
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button {
  margin-top: 30px;
  display: inline-block;
  padding: 10px 24px;
  background: #ffb700;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
}

.info {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 80px;
}

.info h2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 30px;
}

.info p {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #e6e6e6;
  margin-bottom: 10px;
}

.info p img {
  margin-top: 5px;
}

.info p span {
  color: #ffb700;
}

@media only screen and (max-width: 768px) {
  .hero {
    width: 90%;
    text-align: center;
    padding: 180px 20px 50px 20px;
  }

  .hero img {
    display: none;
  }

  .info {
    flex-direction: column;
  }

  .info h2 {
    align-items: center;
    justify-content: center;
  }

  .info p {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }

  .info p img {
    display: none;
  }
}
