.header {
  width: 70%;
  background: rgba(22, 112, 172, 0.5);
  backdrop-filter: blur(10px);
  padding: 20px 80px;
  position: absolute;
  top: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logo {
  color: #ffffff;
  font-size: 24px;
  font-weight: 900;
}

.nav {
  display: flex;
  gap: 20px;
}

.navItem {
  color: #e9e9e9;
  font-size: 18px;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .header {
    width: 80%;
    flex-direction: column;
    gap: 20px;
  }
}